{% extends 'base.html.twig' %}

{% block content %}
    <!-- https://github.com/AntoineTesson/QRcodeBundle -->
    <div class="row">
        <div class="col-sm-12">
            {{ barcode({code: 'Wer das liest ist doof ;-)', type: 'qrcode', format: 'html'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ barcode({code: 'http://www.google.de', type: 'qrcode', format: 'svg'}) }}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript">
    </script>

{% endblock javascripts %}