{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    {% if contract is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ contract.0.name }}</h3>
        </div>
        <div class="panel-body">
            {{ contract.0.description | nl2br }}
        </div>
        <!-- List group -->
        <ul class="list-group">
            {% if contract.0.startDate is not empty %}
            <li class="list-group-item">Startdatum: {{ contract.0.startDate.date | date('d.m.Y')}}</li>
            {% endif %}
            {% if contract.0.endDate is not empty %}
        <li class="list-group-item">Enddatum: {{ contract.0.endDate.date | date('d.m.Y') }}</li>
            {% endif %}
            <li class="list-group-item">Aktiv: {% if contract.0.active == 1%}ja{% else %}nein{% endif %}</li>
        </ul>
    </div>
    {% else %}
        <h1>FAKE URL!</h1>
    {% endif %}
    </div>
    </div>
{% endblock body %}

